<html>
    <body>
        <h1>Admin Page</h1><br/>
        <form action="/reguser" method="post">
            Enter External id<br/>
            <input type="text" name="externalid"/><br/>

            Enter First name<br/>
            <input type="text" name="firstname"/><br/>

            Enter Last name<br/>
            <input type="text" name="lastname"/><br/>

            Enter email id<br/>
            <input type="text" name="emailid"/><br/>

            

            <input type="submit"/>
        </form>


        <br>
        <br>
        <form action="/getvotes" method="get">
            Get Votes:<br/>
            
            <input text="Get Votes!" type="submit"/>

        </form>
    </body>
</html>