<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Voter Registration Form</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="../static/PurpleAdmin-Free-Admin-Template-master/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="../static/PurpleAdmin-Free-Admin-Template-master/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- inject:css -->
        <link rel="stylesheet" href="../static/PurpleAdmin-Free-Admin-Template-master/css/style.css">
        <!-- endinject -->
        <link rel="shortcut icon" href="../static/PurpleAdmin-Free-Admin-Template-master/images/favicon.png" />
    </head>
   <body>
   <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              Basic Tables
            </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
              </ol>
            </nav>
          </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Bordered table</h4>
                  <p class="card-description">
                  </p>
                  <table class="table table-bordered">
                      {% for key, value in result.items() %}
                          <tr>
                              <th> {{ key }} </th>
                              <td> {{ value }} </td>
                          </tr>
                      {% endfor %}
{#                    <thead>#}
{#                      <tr>#}
{#                        <th>#}
{#                          UID#}
{#                        </th>#}
{#                        <th>#}
{#                          First name#}
{#                        </th>#}
{#                        <th>#}
{#                          Progress#}
{#                        </th>#}
{#                        <th>#}
{#                          Amount#}
{#                        </th>#}
{#                        <th>#}
{#                          Deadline#}
{#                        </th>#}
{#                      </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                      <tr>#}
{#                        <td>#}
{#                          1#}
{#                        </td>#}
{#                        <td>#}
{#                          Herman Beck#}
{#                        </td>#}
{#                        <td>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                          </div>#}
{#                        </td>#}
{#                        <td>#}
{#                          $ 77.99#}
{#                        </td>#}
{#                        <td>#}
{#                          May 15, 2015#}
{#                        </td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>#}
{#                          2#}
{#                        </td>#}
{#                        <td>#}
{#                          Messsy Adam#}
{#                        </td>#}
{#                        <td>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                          </div>#}
{#                        </td>#}
{#                        <td>#}
{#                          $245.30#}
{#                        </td>#}
{#                        <td>#}
{#                          July 1, 2015#}
{#                        </td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>#}
{#                          3#}
{#                        </td>#}
{#                        <td>#}
{#                          John Richards#}
{#                        </td>#}
{#                        <td>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                          </div>#}
{#                        </td>#}
{#                        <td>#}
{#                          $138.00#}
{#                        </td>#}
{#                        <td>#}
{#                          Apr 12, 2015#}
{#                        </td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>#}
{#                          4#}
{#                        </td>#}
{#                        <td>#}
{#                          Peter Meggik#}
{#                        </td>#}
{#                        <td>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                          </div>#}
{#                        </td>#}
{#                        <td>#}
{#                          $ 77.99#}
{#                        </td>#}
{#                        <td>#}
{#                          May 15, 2015#}
{#                        </td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>#}
{#                          5#}
{#                        </td>#}
{#                        <td>#}
{#                          Edward#}
{#                        </td>#}
{#                        <td>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                          </div>#}
{#                        </td>#}
{#                        <td>#}
{#                          $ 160.25#}
{#                        </td>#}
{#                        <td>#}
{#                          May 03, 2015#}
{#                        </td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>#}
{#                          6#}
{#                        </td>#}
{#                        <td>#}
{#                          John Doe#}
{#                        </td>#}
{#                        <td>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                          </div>#}
{#                        </td>#}
{#                        <td>#}
{#                          $ 123.21#}
{#                        </td>#}
{#                        <td>#}
{#                          April 05, 2015#}
{#                        </td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>#}
{#                          7#}
{#                        </td>#}
{#                        <td>#}
{#                          Henry Tom#}
{#                        </td>#}
{#                        <td>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                          </div>#}
{#                        </td>#}
{#                        <td>#}
{#                          $ 150.00#}
{#                        </td>#}
{#                        <td>#}
{#                          June 16, 2015#}
{#                        </td>#}
{#                      </tr>#}
{#                    </tbody>#}
                  </table>
                </div>
              </div>
            </div>
        </div>
   </div>


{#      <table border = 1>#}
{#         {% for key, value in result.items() %}#}
{#            <tr>#}
{#               <th> {{ key }} </th>#}
{#               <td> {{ value }} </td>#}
{#            </tr>#}
{#         {% endfor %}#}
{#      </table>#}

        <script src="../static/PurpleAdmin-Free-Admin-Template-master/vendors/js/vendor.bundle.base.js"></script>
        <script src="../static/PurpleAdmin-Free-Admin-Template-master/vendors/js/vendor.bundle.addons.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="../static/PurpleAdmin-Free-Admin-Template-master/js/off-canvas.js"></script>
        <script src="../static/PurpleAdmin-Free-Admin-Template-master/js/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="../static/PurpleAdmin-Free-Admin-Template-master/js/dashboard.js"></script>
        <script src="../static/PurpleAdmin-Free-Admin-Template-master/js/file-upload.js"></script>

   </body>
</html>